body {
   
   background-image: url(../O6VPZL0.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   background-color: #464646;
}
div.contenedor{
    position: relative;
    text-align: center;
    background-color: #ffffff;
    width: 420px;
    height: 280px;
    margin: auto;
    margin-top: 30%;
}
div.titulo{
    background-color: #00AAE4;
    color: #ffffff;
    font-size:2em;
    text-align: center;
}
.texto{
    position: relative;
    margin:7%;
}


