body{
    font-family: sans-serif;
    margin: 0;
}
.sidebar{
    position: absolute;
    width: 250px;
    height: 100%;
    background: #333333;
    color: #ffffff
}

.sidebar h2{
    text-align: center;
    padding: 10px;
    margin: 0;
}
.sidebar h4{
    text-align: center;
    padding: 10px;
    margin: 0;
}

.sidebar ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li{

}

.sidebar li:hover{
    background: #444444
}

.sidebar a{
    display: block;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

